$primaryBlue: #0e8cff;
$secondaryBlue: #6248ff;

// backgrounds
$mainBackground: #f9fbfe;
$lightGrayBackground: #eff2f5;
$activeItemBackground: #f6f6ff;

$borderGray: rgba(7, 15, 33, 0.08);

// Text colors
$textBlack: #070f21;
$textGray: rgba(7, 15, 33, 0.8);

// text Background colors
$textBgPurple: #b0a1df;
$textBgDarkOrange: #faad14;
$textBgOrange: #ffeede;
$textBgPink: #ffdefc;
$textBgGray: #ebeced;

// Project name dot colors
$lightRed: #ff3477;
$darkOrange: #e74926;
$Blue: #6248ff;
$lightBlue: #70a0ff;

// scrollbar styles
$track: white;
$thumb: #cccccc;

// general colors
$green: #27e1bf;
$lightGray: #f9f9f9;
