@import "variables";

.add_card_container {
    .row_1,
    .row_2,
    .row_3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .row_1 {
        margin-bottom: 12px;

        .left {
            font-weight: 500;
            opacity: 0.8;
            font-size: 15px;
        }

        .right {
            display: flex;
            align-items: center;
        }
    }

    .row_2 {
        margin-bottom: 12px;

        textarea {
            border-radius: 5px;
            outline: none;
            padding: 7px;
            height: 60px;
            resize: none;
            font-size: 12px;
            width: 100%;
            border: 2px solid $borderGray;

            &::placeholder {
                color: $textGray;
            }

            &:focus {
                border: 1px solid $primaryBlue;
                box-shadow: 0 0 0 1px $primaryBlue;
            }
        }
    }

    .row_3 {
        .left {
            flex: 1;
        }

        select {
            border-radius: 8px;
            border: none;
            padding: 10px 3px;
            width: 100%;
            background: white;
            color: $textGray;

            &:focus {
                outline: none;
            }
        }

        button {
            border-radius: 8px;
            border: none;
            padding: 10px 15px;
            font-size: 16px;
            margin-left: 12px;
            cursor: pointer;
            background-color: $primaryBlue;
            color: white;

            &:focus {
                outline: none;
            }
        }
    }
}
