.grid_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 5px;

    // Media queries
    @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 480px) {
        grid-template-columns: 1fr;
    }

    .cards_outer_container {
        background: #eeeeee;
        border-radius: 5px;
        padding: 12px 5px 5px;

        .cards_outer_container_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;

            .cards_outer_container_header_left {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }

        .cards_outer_container_body {
            max-height: 950px;
            overflow-y: auto;
            // padding: 0 5px 5px 0;
            // padding-right: 20px;

            &::-webkit-scrollbar {
                width: 0.2rem;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #909090;
            }

            &::-webkit-scrollbar-track {
                background-color: #ffffff;
            }
        }

        .cards_outer_container_footer {
            .cards_outer_container_footer_button {
                background: transparent;
                color: #0e8cff;
                border: 1px solid #b5b5b5;
                font-weight: bold;
                letter-spacing: 1px;
                width: 100%;
                border-radius: 4px;
                padding: 10px 20px;
                text-align: left;
                padding-left: 10px;
                cursor: pointer;
            }
        }

        .card_container {
            margin-bottom: 10px;

            .card {
                background: white;
                border-radius: 5px;
                padding: 5px;

                .card_header {
                    display: flex;
                    justify-content: space-between;

                    .card_header_left {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 15px;

                        .company {
                            color: rgb(157, 157, 157);

                            &::before {
                                content: "";
                                position: absolute;
                                left: -12px;
                                top: 6px;
                                width: 8px;
                                height: 8px;
                                background: #ff3477;
                                border-radius: 100%;
                            }
                        }
                    }
                }

                .card_body {
                    margin: 10px 0;

                    .card_body_inner {
                        display: flex;
                        margin: 6px 0;

                        .card_body_text1,
                        .card_body_text2 {
                            background: #ffeede;
                            padding: 3px 4px;
                            border-radius: 10px;
                            margin-right: 3px;
                            font-size: 10px;
                        }

                        .card_body_text2 {
                            background: #ffdefc;
                        }
                    }
                }

                .card_footer {
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;

                    .card_footer_row_2 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .card_footer_row_2_text {
                            background: #eeeeee;
                            font-size: 10px;
                            padding: 3px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}
