.grid_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

    // Media queries
    @media only screen and (max-width: 1350px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
